@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  padding-left: 10px;
}
.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
  height: 100px;
  transition: all 0.3s;
}
.menu__link:hover {
  color: #fff;
  background-color: #131313;
}

.bike {
  padding: 100px 0px 0px;
}
.bike__inner {
  display: flex;
  justify-content: space-between;
}
.bike__column--slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}
.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  margin: 70px 0 5px;
}
.bike__subtitle {
  font-weight: 400;
  margin: 0 0 60px;
  font-size: 32px;
  line-height: 39px;
  color: #6F6F6F;
}
.bike__text {
  margin: 0 0 20px;
  max-width: 420px;
}
.bike__link {
  margin-top: 80px;
  display: inline-block;
  width: 420px;
  padding: 28px 81px;
  background: #131313;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}
.bike__link:hover {
  background-color: #FF4040;
}
.bike__list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.bike__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #131313;
  max-width: 160px;
  align-items: center;
  min-height: 58px;
}
.bike__item-num {
  text-transform: uppercase;
  line-height: 1.21;
  font-weight: 700;
  font-size: 14px;
}
.bike__item-text {
  line-height: 1.25;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 12px;
  margin: auto 0;
}

.bike-slider iframe {
  height: 400px;
  width: 100%;
}
.bike-slider .slick-dots {
  right: 0;
  top: 50px;
}

.slick-dots {
  position: absolute;
}
.slick-dots button:hover {
  transition: all 0.3s;
  background: #FF4040;
}
.slick-dots li + li {
  padding-top: 10px;
}
.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
}

.slick-active button {
  background: #FF4040;
}

.info {
  padding-top: 150px;
  margin-bottom: 50px;
}
.info__inner {
  display: flex;
}
.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__list {
  flex-basis: 490px;
}
.info__item:not(:last-child) {
  padding-bottom: 50px;
}
.info__title {
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.info__text {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  max-width: 450px;
}

.characteristics {
  padding-top: 100px;
  margin-bottom: 150px;
}
.characteristics__head {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0 0 40px;
}
.characteristics__inner {
  display: flex;
}
.characteristics__items {
  flex-basis: 570px;
  margin-right: 60px;
}
.characteristics__list:not(:last-child) {
  padding-bottom: 30px;
}
.characteristics__title {
  padding: 2px 0 3px;
  font-weight: 700;
  line-height: 1.21;
  text-transform: uppercase;
  /* белый */
  color: #FFFFFF;
  background-color: #131313;
  margin-bottom: 10px;
}
.characteristics__line {
  display: flex;
  margin-bottom: 5px;
}
.characteristics__name {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.characteristics__img {
  align-self: center;
}

.slider {
  margin-bottom: 50px;
}
.slider__items {
  padding-left: 50px;
}
.slider .slick-dots {
  top: 0;
  left: 0;
}

.prise {
  margin-bottom: 100px;
}
.prise__inner {
  position: relative;
}

.form {
  max-width: 420px;
}
.form__title {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 1.21;
  text-transform: uppercase;
}
.form__text {
  max-width: 300px;
  margin-bottom: 30px;
}
.form__input-name, .form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}
.form__input-name::-moz-placeholder, .form__input-phone::-moz-placeholder {
  color: #6F6F6F;
  opacity: 0.5;
}
.form__input-name::placeholder, .form__input-phone::placeholder, .form__input-text {
  color: #6F6F6F;
  opacity: 0.5;
}
.form__input-text {
  margin-bottom: 10px;
}
.form__label-box {
  display: flex;
  margin-bottom: 50px;
}
.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form__input-radio:checked + .form__bike {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.form__bike {
  display: none;
}
.form__bike-prise {
  font-size: 32px;
  line-height: 1.21;
  position: absolute;
  top: 30px;
  left: 0px;
  transform: translate(-40%);
  border: 1px solid #FF4040;
  border-radius: 60%;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.form__bike-prise span {
  margin-top: 5px;
  display: inline-block;
  align-self: center;
}
.form__bike-prise::after {
  content: "";
  top: 12px;
  left: 0;
  border: 1px solid #FF4040;
  border-radius: 60%;
  width: 220px;
  height: 100px;
  position: absolute;
}
.form__radio-style {
  border-radius: 30px;
  width: 80px;
  height: 12px;
  cursor: pointer;
}
.form__label:not(:last-child) {
  margin-right: 28px;
}
.form__radio-style--gray {
  background: #6F6F6F;
}
.form__radio-style--while {
  background: #fff;
  border: 1px solid #6F6F6F;
}
.form__radio-style--red {
  background: #FF4040;
}
.form__btn {
  cursor: pointer;
  border: none;
  padding: 28px 61px 28px 81px;
  background: #131313;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: all 0.3s;
}
.form__btn:hover {
  background-color: #FF4040;
}

.footer {
  background-color: #131313;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  text-transform: lowercase;
  color: #FFFFFF;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.footer__link {
  text-decoration: underline;
}
.footer__social-link + .footer__social-link {
  margin-left: 30px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
}
.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}
.footer__contacts-img {
  margin-right: 10px;
}