*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
//?---------------------------------------------header---------------------------------------------------------
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  &__img {}
}
.menu {
  margin-right: 70px;
  &__list {
    display: flex;
  }
  &__item + &__item {
    padding-left: 10px;
  }
  &__item {}
  &__link {
    text-transform: uppercase;
    padding: 43px 20px;
    height: 100px;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: #131313;
    }
  }
}
//?---------------------------------------------header--media--------------------------------------------------
//?---------------------------------------------header--end----------------------------------------------------
//?---------------------------------------------bike---------------------------------------------------------
.bike {
  padding: 100px 0px 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__column {}
  &__column--slider {
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
  }
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    margin: 70px 0 5px;
  }
  &__subtitle {
    font-weight: 400;
    margin: 0 0 60px;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
  }
  &__text {
    margin: 0 0 20px;
    max-width: 420px;
  }
  &__link {
    margin-top: 80px;
    display: inline-block;
    width: 420px;
    padding: 28px 81px;
    background: #131313;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }
  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #131313;
    max-width: 160px;
    align-items: center;
    min-height: 58px;
  }
  &__item-num,
  &__item-text {
    //  display: block;
  }
  &__item-num {
    text-transform: uppercase;
    line-height: 1.21;
    font-weight: 700;
    font-size: 14px;
  }
  &__item-text {
    line-height: 1.25;
    text-transform: lowercase;
    font-weight: 400;
    font-size: 12px;
    margin: auto 0;
  }
}
.container {}
.bike-slider {
  // height: 525px;
  // position: relative;
  iframe {
    height: 400px;
    width: 100%;
    // position: absolute;
    // left: 0;
    // top: 0;
    // object-fit: cover;
  }
  &__item {}
  .slick-dots {
    right: 0;
    top: 50px;
  }
}
.slick-dots {
  position: absolute;
  button:hover {
    transition: all .3s;
    background: #FF4040;
  }
  li + li {
    padding-top: 10px;
  }
  button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
  }
}
.slick-active button {
  background: #FF4040;
}
//?---------------------------------------------bike--media--------------------------------------------------
//?---------------------------------------------bike--end----------------------------------------------------
//!----- info -----
//?--------------------------------------------- info ---------------------------------------------------------
.info {
  margin-bottom: 150px;
  &__inner {
    display: flex;
  }
  &__img {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
  }
  // img{
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
  &__list {
    flex-basis: 490px;
    // max-width: 490px;
  }
  &__item {}
  &__item:not(:last-child) {
    padding-bottom: 50px;
  }
  &__title {
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  &__text {
    font-size: 14px;
line-height: 1.2;
    margin: 0;
    max-width: 450px;
  }
}
//?--------------------------------------------- info--media --------------------------------------------------
//?--------------------------------------------- info--end ----------------------------------------------------